@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@font-face {
    font-family: 'passion' ;
    src: url('Passion_One/PassionOne-Regular.ttf' ) format('truetype');
    font-weight: 800;
}

@font-face {
    font-family:'sriracha' ;
    src: url('Sriracha/Sriracha-Regular.ttf') format('truetype');
    font-weight: normal;

}

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: white;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    height: 150px;
}

header h1{
    padding-top: 40px;
    font-family: "passion", cursive;
    font-size: 40px;
}

header > h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 15px;
}  

header a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    
}

header a:hover{
    text-decoration: underline;
}

section{
    font-family: "sriracha", cursive;
    line-height: 2em;
    
}

.a{
    padding: 50px 20px 30px 20px;
}

.b{ 
    
    min-height: 200px;
    
    
    color: white;
    padding: 50px 20px 30px 20px;
    
    
    background-image: url('imagens/background001.jpg');
    background-attachment: fixed;
    background-position:left top;
    background-repeat: no-repeat;
    background-size: cover;
}

.d{
    
    background-image: url('imagens/background002.jpg');
    background-attachment: fixed;
    background-position:left top;
    background-repeat: no-repeat;
    background-size: cover;

}

footer{
    background-color: black;
    text-align: center;
    color: white;
    height: 30px;
    padding: 10px;
}

footer a{
    color: white;
    text-decoration: none;
    
}

footer a:hover{
    text-decoration: underline;
}