@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 2px 15px black;
}

body{
    background-color: rgb(205, 211, 198);
}

h1{
    text-align: center;
}

img{
    
    width: 600px;
}
p{
    text-align: justify;

}


