@charset "UTF-8";

*{
    
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to bottom,white, green 180% );
    background-attachment: fixed;
}

main{
    background: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 1px 2px 15px #4d5f4d;
    border-radius: 10px;
}
h1{
    text-align: center;
    color: #415a41c2;
    text-shadow: 2px 2px 15px;

}
h2{
    color: #4c534cb0;
    
}

p{
    text-align: justify;
}